{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Page d'acceuil
{% endblock %}

{% block content %}


{% block javascripts %}
    {{ parent() }}
    <script>
        init.push(function () {
            $('#dashboard-recent .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
    </script>

{% endblock %}

<script>
        init.push(function () {
        var uploads_data = [
            {% for stat in statOrder %}
                { period: '{{ stat.d }}', v: {{ stat.nb|default(0) }} },
                    {% endfor %}
        ];
        Morris.Line({
        element: 'hero-graph',
        data: uploads_data,
        xkey: 'period',
        ykeys: ['v'],
        labels: ['Nombre de commandes'],
        lineColors: ['#fff'],
        lineWidth: 2,
        pointSize: 3,
        gridLineColor: 'rgba(255,255,255,.5)',
        resize: true,
        gridTextColor: '#fff',
        xLabels: "period"

        });
        });
</script>


    <div class="stat-panel">
    <div class="stat-row">
        <!-- Small horizontal padding, bordered, without right border, top aligned text -->
        <div class="stat-cell col-lg-6 padding-sm-hr bordered no-border-r valign-top">
            <!-- Small padding, without top padding, extra small horizontal padding -->
            <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-cloud-upload text-primary"></i>&nbsp;&nbsp;STATS</h4>
            <!-- Without margin -->
            <ul class="list-group no-margin">
                <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
                <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
                    Bijoux<span class="label label-pa-purple pull-right"> {{ nbprod.nb|default('0') }} créés</span>
                </li> <!-- / .list-group-item -->
                <!-- Without left and right borders, extra small horizontal padding, without background -->
                <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                    Catégories<span class="label label-danger pull-right"> {{ nbcat.nb|default('0') }} créées</span>
                </li> <!-- / .list-group-item -->
                <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                    CMS<span class="label label-success pull-right">{{ nbcms.nb|default('0') }} créés</span>
                </li> <!-- / .list-group-item -->
                <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                    Commentaires<span class="label label-success pull-right">{{ nbcom.nb|default('0') }} créés</span>
                </li> <!-- / .list-group-item -->
                <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                    Fournisseurs<span class="label label-success pull-right">{{ nbsup.nb|default('0') }} créés</span>
                </li> <!-- / .list-group-item -->
                <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                    Commandes<span class="label label-success pull-right">{{ nbord.nb|default('0') }} créés</span>
                </li> <!-- / .list-group-item -->
            </ul>
        </div> <!-- /.stat-cell -->
        <!-- Primary background, small padding, vertically centered text -->
        <div class="stat-cell col-sm-6 bg-primary padding-sm valign-middle">
            <div id="hero-graph" class="graph" style="height: 230px;">

            </div>

        </div>
    </div>
</div>
    <div class="col-lg-6">
        <div class="stat-panel">
            <!-- Danger background, vertically centered text -->
            <div class="stat-cell bg-danger valign-middle">
                <!-- Stat panel bg icon -->
                <i class="fa fa-trophy bg-icon"></i>
                <!-- Extra large text -->
                <span class="text-xlg"><span class="text-lg text-slim">$</span><strong>{{ nbsum.total | number_format(2, '.', ',')}} </strong></span><br>
                <!-- Big text -->
                <span class="text-bg">Chiffre d'affaires du jour</span><br>
                <!-- Small text -->
                <span class="text-sm"><a href="#">Voir détail</a></span>
            </div> <!-- /.stat-cell -->
        </div> <!-- /.stat-panel -->
    </div>


    <div class="col-md-6">
        <div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Les 5 dernières commandes</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-text"><a href="#"></a></div>
                </div>
            </div> <!-- / .panel-heading -->
            <div class="panel-body tab-content-padding">
                <!-- Panel padding, without vertical padding -->
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                   {% for order in nblast %}

                        <div class="ticket">
                            <span class="pull-right">{{ order.state|state|raw }}</span>
                            <a href="#" title="" class="ticket-title"><span>[#{{ order.id }}]</span></a>
								<span class="ticket-info">
									Opened by <a href="#" title="">{{ order.address }}</a> today
								</span>
                        </div> <!-- / .ticket -->
                    {% endfor %}

                    </div>
                </div>
            </div> <!-- / .panel-body -->
        </div> <!-- / .panel -->
    </div>

    <div class="col-md-6">


    <div class="panel panel-warning" id="dashboard-recent">
    <div class="panel-heading">
        <span class="panel-title"><i class="panel-title-icon fa fa-fire text-danger"></i>Recent</span>
        <ul class="nav nav-tabs nav-tabs-xs">
            <li class="active">
                <a href="#dashboard-recent-comments" data-toggle="tab">Comments</a>
            </li>
            <li>
                <a href="#dashboard-recent-threads" data-toggle="tab">Forum threads</a>
            </li>
        </ul>
    </div> <!-- / .panel-heading -->
    <div class="tab-content">

    <!-- Comments widget -->

    <!-- Without padding -->
    <div class="widget-comments panel-body tab-pane no-padding fade active in" id="dashboard-recent-comments">
        <!-- Panel padding, without vertical padding -->
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;">
            <div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">

                {% for comment in ctlast %}

                <div class="comment">
                    <img src="assets/demo/avatars/5.jpg" alt="" class="comment-avatar">
                    <div class="comment-body">
                        <div class="comment-by">
                            <a href="#" title="">{{ comment.user.firstname ~ " " ~ comment.user.lastname}}</a> a commenté<a href="#" title="">Article Name</a>
                        </div>
                        <div class="comment-text">
                            {{ comment.content }}
                        </div>
                        <div class="comment-actions">
                            <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                            <a href="#"><i class="fa fa-times"></i>Remove</a>
                            <span class="pull-right">2 hours ago</span>
                        </div>
                    </div> <!-- / .comment-body -->
                </div> <!-- / .comment -->


            </div>
            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
    </div> <!-- / .widget-comments -->

    <!-- Threads widget -->

    <!-- Without padding -->
    <div class="widget-threads panel-body tab-pane no-padding fade" id="dashboard-recent-threads">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                <div class="thread">
                    <img src="assets/demo/avatars/2.jpg" alt="" class="thread-avatar">
                    <div class="thread-body">
                        <span class="thread-time">14h</span>
                        <a href="#" class="thread-title">{{ comment.content }}</a>
                        <div class="thread-info">started by <a href="#" title="">{{ comment.user.firstname ~ " " ~ comment.user.lastname}}</a> in <a href="#" title="">Forum name</a></div>
                    </div> <!-- / .thread-body -->
                </div> <!-- / .thread -->

             {% endfor %}
            <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
    </div> <!-- / .panel-body -->
    </div>
    </div> <!-- / .widget-threads -->
    </div>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Produits par catégories</span>
        </div>
    {% for category in nbprod %}
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Produit</th>


                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.product|length }}</td>

                </tr>

                </tbody>
            </table>
        </div>
         {% endfor %}
    </div>


{% endblock %}