{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    CMS
{% endblock %}
{% block content %}
    <div class ="row">
        <a href="{{ path('store_backend_cms_new') }}" class="btn btn-primary btn-lg btn-rounded">
            <i class = "fa fa-plus"></i>Ajouter un CMS</a>
    </div>
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                CMS
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>vue</th>
                <th>Etat</th>
                <th>produit</th>
                <th>Bijoutier</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for page in pages %}
                 <tr>



               <td><a href="{{ path('store_backend_cms_view',{'id' : page.id }) }}">{{ page.title }}</a></td>
               <td><a href="">{{ page.description }}</a></td>
               <td><a href="">{{ page.state }}</a></td>
                     <td>
                         {% for product in page.product %}
                             <a href=" ">{{ product.title }}</a>
                         {% endfor %}
                     </td>
                     <td>
                         {% for jeweler in page.jeweler %}
                             <a href=" ">{{ jeweler.title }}</a>
                         {% endfor %}
                     </td>

                     <td>
                         <div class="btn-group">
                             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-caret-down"></i></button>
                             <ul class="dropdown-menu">
                                 <li><a href="{{ path('store_backend_cms_view',{'id' : page.id } ) }}">Voir </a></li>
                                 <li> <a href="{{ path('store_backend_cms_edit',{'id' : page.id} ) }}">Editer</a></li>
                                 <li><a href="{{ path('store_backend_cms_remove',{'id' : page.id} ) }}">Supprimer</a></li>
                             </ul>
                         </div>
                     </td>



                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>


{% endblock %}






