{% extends "StoreBackendBundle::layout.html.twig" %}

{% trans_default_domain "cms" %}

{% block titlepage %}
    {#Le filtre "trans" va me chercher la traduction pour le texte pages CMS#}
   <i class="fa fa-pencil">{{ "cms.list.title"|trans }}</i>
{% endblock %}


{% block content %}

    <div class ="row">
        <a href="{{ path('store_backend_cms_new') }}" class="btn btn-primary btn-lg btn-rounded">
            <i class = "fa fa-plus"></i>Ajouter un CMS</a>
        <div class="btn-group pull-right">
            {#J'utilise ici une variable user.name que j'envoie à la vue : choisissez votre langue. #}
            <p>{{ 'list.choice'|trans({'%username%':app.user.username}, "messages")}}</p>
            <a href="{{ path('store_backend_cms_list',{'_locale':'en'}) }}"
               class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'en' %} active {% endif %}"> Anglais </a>
            <a href="{{ path('store_backend_cms_list',{'_locale':'fr'}) }}"
               class="btn btn-primary btn-outline {% if app.request.get('_locale') == 'fr' %} active {% endif %}"> Français </a>
        </div>
    </div>
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                CMS
            </div>
        </div>
        <div class=""alert alert-info-dark>
            {#Le filtre transchoice permet de choisir la traduction en fonction du nombre que je lui donne#}
            {{  "cms.list.nb"|transchoice(pages|length) }}
        </div>
        {% if pages is not empty %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pages,"cms.list.table.th.title"|trans,'cms.id'|raw) }}</th>
                <th>{{ knp_pagination_sortable(pages,"cms.list.table.th.view"|trans,'cms.id'|raw) }}</th>
                <th>{{ knp_pagination_sortable(pages,"cms.list.table.th.state"|trans,'cms.id'|raw) }}</th>
                <th>{{ knp_pagination_sortable(pages,"cms.list.table.th.product"|trans,'cms.id'|raw) }}</th>
                <th>{{ knp_pagination_sortable(pages,"cms.list.table.th.jeweler"|trans,'cms.id'|raw) }}</th>
                <th>{{ knp_pagination_sortable(pages,"cms.list.table.th.activate"|trans,'cms.id'|raw) }}</th>
                <th>{{ knp_pagination_sortable(pages,"cms.list.table.th.actions"|trans,'cms.id'|raw) }}</th>
            </tr>
            </thead>

            <tbody>
            {% for page in pages %}
                 <tr>



               <td><a href="{{ path('store_backend_cms_view',{'id' : page.id }) }}">{{ page.title }}</a></td>
               <td><a href="">{{ page.description }}</a></td>

               <td>
                   {% if page.state == 2 %}

                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 2} ) }}" class = 'btn btn-success disabled' >Lu</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 1} ) }}" class = 'btn btn-primary' >En cours de lecture</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 0} ) }}" class = 'btn btn-danger' >Non lu</a>

                   {% elseif page.state == 1 %}
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 2} ) }}" class = 'btn btn-success'>Lu</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 1} ) }}" class = 'btn btn-primary disabled' >En cours de lecture</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 0} ) }}" class = 'btn btn-danger' >Non lu</a>

                   {% else %}
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 2} ) }}" class = 'btn btn-success '>Lu</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 1} ) }}" class = 'btn btn-primary'>En cours de lecture</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 0} ) }}" class = 'btn btn-danger'disabled >Non lu</a>

                   {% endif %}
               </td>
                     <td>
                         {% for product in page.product %}
                             <a href=" ">{{ product.title }}</a>
                         {% endfor %}
                     </td>
                     <td>
                         {% for jeweler in page.jeweler %}
                             <a href=" ">{{ jeweler.title }}</a>
                         {% endfor %}
                     </td>
                     <td>
                         {% if page.active == 1 %}
                             <a href="{{ path('store_backend_cms_activate',{'id' : page.id, 'action' : 0} ) }}">
                                 <i class="fa fa-check"></i>
                             </a>
                         {% else %}
                             <a href="{{ path('store_backend_cms_activate',{'id' : page.id, 'action' : 1} ) }}">
                                 <i class="fa fa-times"></i>
                             </a>
                         {% endif %}</td>

                     <td>
                         <div class="btn-group">
                             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-caret-down"></i></button>
                             <ul class="dropdown-menu">
                                 <li><a href="{{ path('store_backend_cms_view',{'id' : page.id } ) }}">{{ "cms.list.table.td.view"|trans }} </a></li>
                                 <li> <a href="{{ path('store_backend_cms_edit',{'id' : page.id} ) }}">{{ "cms.list.table.td.edit"|trans }}</a></li>
                                 <li><a href="{{ path('store_backend_cms_remove',{'id' : page.id} ) }}">{{ "cms.list.table.td.remove"|trans }}</a></li>
                             </ul>
                         </div>
                     </td>



                </tr>
            {% endfor %}
            {% endif %}

            </tbody>
        </table>

    </div>

    <div class="navigation">{# ici la vue liée au bundle knp : voir CmsController #}
        {{ knp_pagination_render(pages) }}
    </div>
{% endblock %}






