{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    CMS
{% endblock %}
{% block content %}
    <div class ="row">
        <a href="{{ path('store_backend_cms_new') }}" class="btn btn-primary btn-lg btn-rounded">
            <i class = "fa fa-plus"></i>Ajouter un CMS</a>
    </div>
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
                CMS
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nom</th>
                <th>vue</th>
                <th>Etat</th>
                <th>produit</th>
                <th>Bijoutier</th>
                <th>Activation</th>
                <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            {% for page in pages %}
                 <tr>



               <td><a href="{{ path('store_backend_cms_view',{'id' : page.id }) }}">{{ page.title }}</a></td>
               <td><a href="">{{ page.description }}</a></td>

               <td>
                   {% if page.state == 2 %}

                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 2} ) }}" class = 'btn btn-success disabled' >Lu</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 1} ) }}" class = 'btn btn-primary' >En cours de lecture</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 0} ) }}" class = 'btn btn-danger' >Non lu</a>

                   {% elseif page.state == 1 %}
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 2} ) }}" class = 'btn btn-success'>Lu</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 1} ) }}" class = 'btn btn-primary disabled' >En cours de lecture</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 0} ) }}" class = 'btn btn-danger' >Non lu</a>

                   {% else %}
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 2} ) }}" class = 'btn btn-success '>Lu</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 1} ) }}" class = 'btn btn-primary'>En cours de lecture</a>
                       <a href="{{ path('store_backend_cms_state',{'id' : page.id, 'action' : 0} ) }}" class = 'btn btn-danger'disabled >Non lu</a>

                   {% endif %}</td>
               </td>
                     <td>
                         {% for product in page.product %}
                             <a href=" ">{{ product.title }}</a>
                         {% endfor %}
                     </td>
                     <td>
                         {% for jeweler in page.jeweler %}
                             <a href=" ">{{ jeweler.title }}</a>
                         {% endfor %}
                     </td>
                     <td>
                         {% if page.active == 1 %}
                             <a href="{{ path('store_backend_cms_activate',{'id' : page.id, 'action' : 0} ) }}">
                                 <i class="fa fa-check"></i>
                             </a>
                         {% else %}
                             <a href="{{ path('store_backend_cms_activate',{'id' : page.id, 'action' : 1} ) }}">
                                 <i class="fa fa-times"></i>
                             </a>
                         {% endif %}</td>

                     <td>
                         <div class="btn-group">
                             <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-caret-down"></i></button>
                             <ul class="dropdown-menu">
                                 <li><a href="{{ path('store_backend_cms_view',{'id' : page.id } ) }}">Voir </a></li>
                                 <li> <a href="{{ path('store_backend_cms_edit',{'id' : page.id} ) }}">Editer</a></li>
                                 <li><a href="{{ path('store_backend_cms_remove',{'id' : page.id} ) }}">Supprimer</a></li>
                             </ul>
                         </div>
                     </td>



                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>


{% endblock %}






