{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Voir un CMS
{% endblock %}

{% block content %}

    <p>Nom du CMS : {{ CMS.title }}</p>
    <p>Vue : {{ CMS.description }}</p>
    <p>Etat : {{ CMS.state }}</p>
    <p>Produit : {{ CMS.product[0].title}}</p>
    <p>Bijoutier : {{ CMS.jeweler.title }}</p>


{% endblock %}



