{% extends "StoreBackendBundle::layout.html.twig" %}

{% block titlepage %}
    Catégories
{% endblock %}
{% block content %}
    <div class="table-primary">
        <div class="table-header">
            <div class="table-caption">
            Catégories
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                   <th>Nom</th>
                   <th>Description</th>
                   <th>Bijoutier</th>
                   <th>Actions</th>
                </tr>
            </thead>

        <tbody>
        {% for category in categories %}



    {# affiche la liste des catégories - ref, title ne renvoient pas aux champs
     de la table mais sont les attributs des categories #}
    <tr>

        <td>
            {% for product in category.product %}
                <a href="{{ path('store_backend_category_view',{'name': category.title, 'id' : category.id } ) }}">{{ category.title }}</a>
            {% endfor %}
        </td>


        <td><a href="">{{ category.description }}</a></td>




        <td>
            {% for jeweller in category.jeweler %}
            <a href=" ">{{ jeweler.title }}</a>
            {% endfor %}
        </td>

        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <i class="fa fa-caret-down"></i></button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('store_backend_category_view',{'name': category.title, 'id' : category.id } ) }}">Voir </a></li>
                    <li><a href=" ">Editer</a></li>
                    <li><a href="{{ path('store_backend_category_remove',{'id' : category.id} ) }}">Supprimer</a></li>
                </ul>
            </div>
        </td>
    </tr>
   {% endfor %}
   </tbody>
  </table>

</div>


{% endblock %}






