{% extends 'StoreBackendBundle::layout.html.twig' %}

{% block titlepage %}
    <i class ='fa fa-power-off'></i>Souscription de bijoutier
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.title) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.email) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.username) }}
        </div>

    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.password.mdp) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.password.mdp_conf) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.username) }}
        </div>
     </div>
  </div>
    {#BOUTON ENVOYER#}

    {{ form_widget(form.envoyer, {'attr':{'class': 'btn btn-lg btn-primary'}}) }}

    {#BNE PAS OUBLIER TOKEN qui est une protection #}

    {{ form_widget(form._token) }}

    {{ form_end(form,{'render_rest':false}) }}

{% endblock %}