{% block main_navigation %}

<div id="main-navbar" class="navbar navbar-inverse" role="navigation">
<!-- Main menu toggle -->
<button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

<div class="navbar-inner">
<!-- Main navbar header -->
<div class="navbar-header">

    <!-- Logo -->
    <a href="index.html" class="navbar-brand">
        <div><img alt="Pixel Admin" src="assets/images/pixel-admin/main-navbar-logo.png"></div>
        ALittleJewerly
    </a>

    <!-- Main navbar toggle -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

</div> <!-- / .navbar-header -->

<div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
<div>
<ul class="nav navbar-nav">

    <li class="{% if app.request.attributes.get('_route') == "store_backend_index" %} active {% endif %}">
        <a href="{{ path('store_backend_index') }}">Home</a>
    </li>
    {% if is_granted('ROLE_COMMERCIAL') %}
    <li class="{% if app.request.attributes.get('_route') == "store_backend_product_list" %} active {% endif %}">
        <a href="{{ path('store_backend_product_list') }}">Produits</a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_COMMERCIAL') %}
    <li class="{% if app.request.attributes.get('_route') == "store_backend_category_list" %} active {% endif %}">
        <a href="{{ path('store_backend_category_list') }}">Catégories</a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_EDITOR') %}
    <li class="{% if app.request.attributes.get('_route') == "store_backend_cms_list" %} active {% endif %}">
        <a href="{{ path('store_backend_cms_list') }}">CMS</a>
    </li>
    {% endif %}
    {% if is_granted('ROLE_COMMERCIAL') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_supplier_list" %} active {% endif %}">
            <a href="{{ path('store_backend_supplier_list') }}">Fournisseurs</a>
        </li>
    {% endif %}
    {% if is_granted('ROLE_JEWELER') %}
        <li class="{% if app.request.attributes.get('_route') == "store_backend_slider_list" %} active {% endif %}">
            <a href="{{ path('store_backend_slider_list') }}">Slider</a>
        </li>
    {% endif %}


</ul> <!-- / .navbar-nav -->

<div class="right clearfix">
<ul class="nav navbar-nav pull-right right-navbar-nav">

<!-- 3. $NAVBAR_ICON_BUTTONS =======================================================================

							Navbar Icon Buttons

							NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.

							Classes:
							* 'nav-icon-btn-info'
							* 'nav-icon-btn-success'
							* 'nav-icon-btn-warning'
							* 'nav-icon-btn-danger'
-->
<li class="nav-icon-btn nav-icon-btn-danger dropdown">
    <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
        <span class="label">{{ app.session.get('product')|length }}</span>
        <i class="nav-icon fa fa-bullhorn"></i>
        <span class="small-screen-text">Notifications</span>
    </a>

    <!-- NOTIFICATIONS -->

    <!-- Javascript -->
    <script>
        init.push(function () {
            $('#main-navbar-notifications').slimScroll({ height: 250 });
        });
    </script>
    <!-- / Javascript -->

    <div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
        <div class="notifications-list" id="main-navbar-notifications">
           {% if app.session.get('product') is not empty %}
                {% for alert in app.session.get('product') %}
                    <div class="notification">
                        <div class="notification-title text-danger">Produit</div>
                        <div class="notification-description">{{ alert.message }}</div>
                        <div class="notification-ago">{{ alert.date|date('d/m/Y') }}</div>
                        <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                    </div> <!-- / .notification -->
                 {% endfor %}
            {% endif %}


        </div> <!-- / .notifications-list -->
        <a href="#" class="notifications-link">MORE NOTIFICATIONS</a>
    </div> <!-- / .dropdown-menu -->

    {#Inclure mes messages depuis le contrôleur#}
    {#render() va appeler le controleur Layout et son action mymessage#}
    {#à la différence de 'include' qui rendrait une vue statique#}
    {#Render()va appeler dynamiquement un contrôleur et une action de contrôleur#}


</li>
{{ render(controller('StoreBackendBundle:Layout:mymessages')) }}

{{ render(controller('StoreBackendBundle:Layout:myorders')) }}


<li>
    <form class="navbar-form pull-left">
        <input type="text" class="form-control" placeholder="Search">
    </form>
</li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle user-menu" data-toggle="dropdown">
        <img src="{{ app.user.username }}" alt="">
        <span>{{ app.user.username }}</span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><span class="label label-warning pull-right">New</span>Profile</a></li>
        <li><a href="#"><span class="badge badge-primary pull-right">New</span>Account</a></li>
        <li><a href="#"><i class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Settings</a></li>
        <li class="divider"></li>
        <li><a href="{{ path('store_backend_security_logout') }}"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
    </ul>
</li>
</ul> <!-- / .navbar-nav -->
</div> <!-- / .right -->
</div>
</div> <!-- / #main-navbar-collapse -->
</div> <!-- / .navbar-inner -->
</div> <!-- / #main-navbar -->
<!-- /2. $END_MAIN_NAVIGATION -->
{% endblock %}
